@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

*{

    font-family: 'Poppins' sans-serif;
    margin: 0%;
}
 .body{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.87);
}
.header
{
    background-color: rgb(7, 7, 7);
    margin-top: 0%;
    margin-right: 0%;
    height: 100px;
    left: 0px;
    right: Opx;
}
.nomJournal
{
    position: relative;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "montserrat-bold", sans-serif;
    left: 601px;
    top: 10px;
    color: white;
}
.conneter
{
    font-weight: bold;
    font-family: "montserrat-bold", sans-serif;
    position: absolute;
    width: 100px;
    left: 1090px;
    text-decoration: none;
    font-size: 0.9rem;
    top: 10px;
    padding: 5px;
    color: white;
}
.abonner
{
    font-weight: bold;
    background-color:  rgba(153, 153, 153, 0.795);
    border-radius: 20px;
    font-family: "montserrat-bold", sans-serif;
    position: absolute;
    width: 150px;
    right: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
    top: 10px;
    padding: 5px;
    color: white;
}
.p {
    color: white;
    text-align: justify;
    font-family: "montserrat-bold", sans-serif;
    margin-left: 10%;
    margin-right: 40%;
}
.p_img{
    color: white;
    text-align: justify;
    margin-top: 10px;
   float: right;
    font-family: "montserrat-bold", sans-serif;
    overflow: auto;
    width: 250px;
    left: 10%;
    height: auto;
    margin-right:auto;


}


.plusInfos
{
    color: rgba(153, 153, 153, 0.795);
    font-weight: bold;
    font-family: "montserrat-bold", sans-serif;
}
.plusInfos:hover
{
    color: white;
}

.h6{
    font-family: "montserrat-bold", sans-serif;
    color:rgba(153, 153, 153, 0.795);
    font-size: 1.0rem;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}
.h{
    font-size: 2.0rem;
    margin-top: 0%;
    margin-left: 3%;
    font-family: "montserrat-bold", sans-serif;
    text-align: justify;
    text-align: left;
}
/*all images*/
.container-img{
    display:block;
    overflow:hidden;

}
.container-img .image {

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.row{
    display: inline-block;
}

.li_img{
    display: inline-block;
    list-style-type: none;
    margin-right: 100px;
    max-width: 100%;

}
.ul_img{
    margin-top: 25px;
    margin-bottom: 25px;
    list-style-type: none;
}
.container-img  .images{

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;

    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.container-img:hover .image {
    transform:scale(1.2);
}
.container-img:hover .images {
    transform:scale(1.2);
    opacity: 2;
}


.image{
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 12%;
    width: 700px;
    height: 372px;
    left: 1%;
    margin-right: 1%;
    border-radius: 4px;
    max-width: 100%;

}
.images{

    display: flex;
    margin-top: 2%;
    margin-left: 12%;
    width: 300px;
    height: 172px;
    left: 10%;
    margin-right: 1%;
    border-radius: 4px;
    max-width: 100%;

}


.container-img:hover .image {
    transform:scale(1.2);
}
.container-img:hover .images .overlay{
    transform:scale(1.2);
    opacity: 5;
}
/* Navigation */
.nav{
    margin: 26px O;
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 1.rem;
    margin-right: 10px;
    padding: 10px;
    position: relative;
    left: 0px;
    margin-right: 0%;
    right: Opx;
    text-align: right;
    font-family: "montserrat-bold", sans-serif;
    background-color:  rgba(0, 0, 0, 0.932);
}
.uls
{
    margin-left: 10%;
    color: white;
    text-align: left;
    margin-bottom: 2%;
}
.lis
{
    margin: 0%;
}
.nav .ul{
    list-style: none;
}
.nav .li{
    display: inline-block;
    margin-right: 40px ;
}
.div_lien
{
    margin-top: 1%;
    max-width: 100%;

}
.section
{
    padding-bottom: 2%;
}
.hr {
    border: 1px solid rgba(153, 153, 153, 0.795);;
    position: relative;
    margin-left: 10%;
    margin-right:10%



  }
.link
{
    color: white;
    text-decoration: none;
}
.link:hover
{
    color:rgba(153, 153, 153, 0.795);
    border-radius: 20%;
    border-bottom: 5px solid rgba(153, 153, 153, 0.795);

}
/* Footer*/
.footer{

    background-color: rgba(0, 0, 0, 0.932);
    height: 120px;
    padding-left: 20%;
    padding-top: 15px;
}
.nav_footer{
    text-align: center;
    display: inline-block;
}
.ul_footer{
    list-style-type: none;
}
.li_footer{
    display: inline-block;
    list-style-type: none;
    font-family: "montserrat-bold", sans-serif;
    color: white;
    margin-right: 60px;
    max-width: 100%;

}
/** Caroussel css begin here*/

body{
		width: 100%;
		height: 100%;
		margin: 0;
		/*font-family: 'Just Another Hand', cursive;*/
		overflow-X: hidden;/* optional */
	}
    #i1, #i2, #i3, #i4, #i5{ display: none;}
    .container{
		margin: 0 auto;
		margin-top: 0px;
		position: relative;
		width: 70%;
		height: 0;
		padding-bottom: 38%;
	  user-select: none;
		background-color: #1c1c1c;

		border-radius:10px ;
	}

	.container .slide_img{
		position: absolute;
		width: 100%;;
		height: 100%;
	}
	.container .slide_img img{
		width: inherit;
		height: inherit;
	}
.prev, .next{
		width: 5%;
		height: inherit;
		position: absolute;
		top:0;
		background-color: rgba(88, 88, 88, 0.041);
		color:rgba(114, 111, 111, 0.205);
		z-index: 99;
		transition: .45s;
		cursor: pointer;
		text-align: center;
	}


	.next{right:0;}
	.prev{left:0;}

	label span{
		position: absolute;
		font-size: 100pt;
		top: 50%;
	 	transform: translateY(-50%);
	}

	.prev:hover, .next:hover{
		transition: .3s;
		background-color: rgba(88, 88, 89, 0.226);
		color: #ffffff;
	}

.container #nav_slide{
	width: 100%;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}

#nav_slide .dots{
	top: -5px;
	width: 18px;
	height: 18px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
	transition: .4s;
}

#nav_slide .dots:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.9);
	transition: .25s
}

.slide_img{z-index: -1;}

	#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #four ,
	#i5:checked ~ #five
	{z-index: 9; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot4,
	#i5:checked  ~  #nav_slide #dot5
	{ background-color: rgba(255,255,255,.9);}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}

@media screen and (max-width: 685px){
	.container{
		border: none;
		width: 100%;
		height: 0;
		padding-bottom: 55%;
	}

	label span { font-size: 50pt; }

	.prev, .next{
		width: 15%;
	}
	#nav_slide .dots{
		width: 12px;
		height: 12px;
	}
}
@media screen  and(min-width: 970px){
	.me{ display: none;}
}
